.About{
  text-align: center;
}

.titleAbout{
  font-weight: bold;
  padding: 1em 0 1em 0;
  font-size: 60px;
  -webkit-animation:fadein 2s;
}

@keyframes fadein {
    from {opacity: 0;
          transform: translateY(15%);}
}

.topTitle{
  font-weight: bold;
  padding-bottom: 1em;
}

.numBack{
  background-color: black;
}

.numbers{
  display: inline-flex;
  width: 80em;
  max-width: 97%;
  justify-content: space-around;
  color: white;
  padding: 2em 0 2em 0;
}

.numbers > *{
  width: 250px;
}

.numDesc{
  font-weight: bold;
  font-size: 25px;
  text-align: left;
}

.digit{
  font-weight: bold;
  font-size: 40px;
}

.body{
  background-color: white;
}

.aboutInfo, .bottomInfo{
  width: 80em;
  max-width: 97%;
  display: inline-flex;
  align-items: flex-start;
  text-align: left;
  padding: 6em 0 6em 0;
}

.aboutImg, .bottomImg{
  padding: 1em;
  width: 50%;
}

.perksList{
  display: flex;
  justify-content: space-between;
  max-width: 25em;
  text-align: left;
}

.perksList > *{
  list-style-type: none;
  padding: 0;
}

.headBottom{
  font-weight: 630;
  font-size: 40px;
}

@media (max-width: 767px){
  .aboutInfo, .bottomInfo{
    flex-direction: column;
    text-align: center;
  }
  .aboutImg{
    width: 100%;
  }
  .bottomImg{
    width: 100%;
    order: 2;
  }
  .numbers{
    flex-flow: row wrap;
  }
  .digSpan{
    flex: 1 1 150px;
  }
  .digit{
    font-size: 25px;
  }
  .numDesc{
    text-align: center;
    width: 100%;
  }
  .perksList{
    max-width: 28em;
  }
}

.paragraph{
  padding: 1em;
}

.paraBody::first-letter{
  font-size: 300%;
  color: limegreen;
  float: left;
  line-height: 0.9;
  padding: 0 7px 0 0;
}

.titleLeafAbout{
  position: absolute;
  top: 265px;
  left: 48%;
  z-index: 1;
  font-size: 500%;
  color: green;
  align-content: center;
}

.check{
  border: 2px solid #BADA55;
  border-radius:50%;
  margin-right: 5px;
}

.leafAbout{
  color: lightgreen;
  font-size: 400%;
  display: inline-block;

}
