.Contact{
  text-align: center;
}

.contactTitle{
  font-weight: 650;
  font-size: 50px;
  padding: 1em 0 1em 0;
}

.contactInfo{
  display: inline-flex;
  width: 70em;
  max-width: 97%;
  justify-content: space-around;
  background-color: white;
  margin-bottom: 5em;
}

.contactInfo > * {
  width: 100%;
  padding: 2em 0 2em 0;
  margin: 2em;
  border: 1px solid #C8C8C8;
  font-weight: 600;
}

.location{
  color: green;
  font-size: 150%;
}

.titleLeaf{
  position: absolute;
  top: 230px;
  left: 48%;
  z-index: 1;
  font-size: 500%;
  color: green;
  align-content: center;
}

.faqTitle{
  font-weight: 600;
}

.leaf{
  color: lightgreen;
  font-size: 400%;
  margin: auto;
  display:block;
}

.questions{
  display: inline-flex;
  width: 70em;
  max-width: 97%;
  padding: 2em 0 2em 0;
  justify-content: space-between;
}

.accordionHalf{
  width: 49%;
}

@media (max-width: 767px){
  .contactInfo{
    flex-direction: column;
    align-items: center;
  }
  .contactInfo > *{
    margin: 2em 0 2em 0;
    width: 95%;
  }
  .questions{
    flex-direction: column;
  }
  .accordionHalf{
    width: 100%;
  }
}

.toggle{
  height: 55px;
  background-color: white;
  border: none;
  font-weight: bold;
  width: 100%;
  text-align: left;
  align-items: center;
  display: inline-flex;
}

.toggleOpen{
  height: 55px;
  background-color: white;
  border: none;
  font-weight: bold;
  width: 100%;
  text-align: left;
  align-items: center;
  display: inline-flex;
  color: green;
}

.toggle:focus, .toggleOpen:focus{
  outline: 0
}

.be4Icon{
  width: 100%;
}

.arrow{
  font-size: 130%;
}

.arrowOpen{
  font-size: 130%;
  transform: rotate(90deg);
}

.collapse.show, .collapsing{
  background-color: white;
  text-align: left;
  padding: 0 0 2em 5px;
}

.accordion.collapsed{
  color: green;
}

.lineContact{
  margin: 0;
  border-color: #ffcc99;
}
