.Home{
  text-align: center;
}

.imgDesc{
  width:100%;
  position: relative;
  align-items: flex-start;
}

.profileImg{
  width:30%;
  float:left;
  margin-top:2em;

}

.description{
  position: absolute;
  padding: 11% 15% 0 45%;
}

.smallTitle{
  color: yellow;
  letter-spacing: 7px;
  font-size: 13px;
  font-weight: bold;
}

.bigTitle{
  font-weight: 700;
  color: orange;
}

.addText{
  display: inline-block;
  color: yellow;
  width: 170px;
}

.expFlav{
  font-weight: bold;
  padding: 1em 3em 1em 3em;
  border-radius: 25px;
  text-decoration: none;
  background-color: #EE82EE;
  color: white;
}

.expFlav:hover{
  text-decoration: none;
  color: white;
  background-color: purple;
}

.perksContainer{
  width: 95em;
  max-width: 100%;
  display: inline-flex;
  justify-content: space-around;
  padding-top: 3em;

}

.perk{
  display: inline-flex;
  padding: 20px;
  background-color: #000033;
  color: white;
  text-align: left;
  margin: 0 1em 0 1em;
  flex: 1 1 310px;
}

.perkLabel{
  font-size: 25px;
}

.reviewsTitle{
  text-align: center;
  padding-top: 1em;
}

.reviews{
  display: inline-flex;
  width: 75em;
  max-width: 96%;
  justify-content: space-around;
  text-align: center;
  padding-top: 1em;
}

.review{
  padding-top: 1em;
  width: 330px;
  background-color: white;
  margin: 0 7px 0 7px;
}

@media(max-width: 1000px){
  .break{
    content: "";
    font-size: 0;
  }
  .perksContainer{
    flex-flow: row wrap;
  }
  .perk{
    flex: 1 1 305px;
    margin-bottom: 1em;
  }
}

@media(max-width: 1000px) and (min-width: 738px){
  .imgDesc{
    display: flex;
    padding: 0 1em 0 1em;
  }
  .profileImg{
    flex-basis: 100%;
  }
  .description{
    position: relative;
    flex-basis: 100%;
    padding: 20% 1em 0 1em;
  }
}

@media(max-width: 738px){
  .imgDesc{
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1em;
  }
  .description{
    position: relative;
    padding: 3% 5px 0 5px;
  }
  .profileImg{
    order: 2;
    width: 100%;
    padding: 0 1em 0 1em;
  }
  .reviews{
    flex-direction: column;
    align-items: center;
  }

  .review{
    margin-bottom: 1em;
    width: 90%;
  }

}

.quote{
  display: inline-block;
  color: orange;
  font-weight: bold;
  font-size: 40px;
  width: 22em;
  max-width: 95%;
  padding-bottom: 1em;
  text-shadow: 2px 2px #808080;
}

.leafHome {
  color: lightgreen;
  font-size: 200%;
}

.star{
  color: orange;
}

.reviewQuote{
  margin: auto;
  width: 80%;
  padding-bottom: 1em;
}

.name{
  font-size: 20px;
}
